###############################################################################
# DO NOT normalize line endings (repo mixes Windows and Linux file)
###############################################################################
* -text