@page "/"

<PageTitle>wordslab manager</PageTitle>

<h1>wordslab manager</h1>

<p>Version: <strong>@ConsoleApp.Version</strong></p>

<p>Documentation: <a href="https://www.wordslab.org/">https://www.wordslab.org/</a></p>

<p>Release notes: <a href="@($"https://github.com/wordslab-org/wordslab/releases/tag/v{ConsoleApp.Version}")">https://github.com/wordslab-org/wordslab/releases/</a></p>