@page "/"
@using wordslab.installer.localstorage
@inject IDbContextFactory<ConfigStore> DbContextFactory

<PageTitle>Windows - Install local cluster</PageTitle>

<h1>Install local cluster</h1>





@code {

    bool isLoading = true;

    protected override void OnInitialized()
    {
        isLoading = false;

        base.OnInitialized();
    }

}