<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">wordslab manager v@(ConsoleApp.Version)</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/localvm" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Local virtual machines
            </NavLink>
            <NavLink class="nav-link" href="/cloudvm" Match="NavLinkMatch.All">
                <span class="oi oi-cloud" aria-hidden="true"></span> Cloud virtual machines
            </NavLink>
        </div>
        <div class="py-5 px-3">
            <a href="https://www.wordslab.org" target="_blank">Documentation</a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
